@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #d9ecfa;
}

.wrapper {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #293447;
    border-radius: 3%;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.score-table {
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: #1d232d;
    grid-template:repeat(30, 1fr)/repeat(30, 1fr);

}

.play-board .food {
    background: #ff003d;
}
.play-board .head{
    background: #60cbff;
}
